<div class='list-items columns is-multiline list-posts'>
{{ range (where .Site.RegularPages "Type" "posts").ByDate.Reverse }}
<div class="column is-half ">
<a href="{{ .RelPermalink }}">
<div class="publication">

<div class="publication-image">
<img class='zoom lazy' src='{{ "img/placeholder.png" | absURL }}' data-src='{{ $.Site.Data.paramsite.baseUrlImage }}/w_400/{{ .Params.logo }}' alt="Logo de l'article {{ .Title }}" />
</div>

                
<div class="publication-titre">
<h3 class="subtitle is-3">{{ .Title }}</h3>
</div>
<div class="date-publication">
    Le {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
</div>

</div>
</a>
</div>
{{ end }}
</div>