<footer>
    <div class='container padding'>
        <div class="columns">
            <div class="column is-6">
                <p><span class='name-brand'>{{ $.Site.Data.paramsite.title }}</span><br/>
                {{ $.Site.Data.paramsite.subtitle }}<br>
                Numéro ADELI :  {{ $.Site.Data.paramsite.siret }} <br><br>
                </p>
                <p>{{ $.Site.Data.paramsite.ligneInfo1| safeHTML }}</p>
                <p>{{ $.Site.Data.paramsite.ligneInfo2| safeHTML }}</p>
            </div>
            <div class="column is-4">
                <p>
                    <strong><i class="fas fa-map-marker-alt"></i> Adresse</strong> : <a target="_blank" href='https://www.openstreetmap.org/?mlat={{ $.Site.Data.paramsite.latitude }}&mlon={{ $.Site.Data.paramsite.longitude }}#map=18/{{ $.Site.Data.paramsite.latitude }}/{{ $.Site.Data.paramsite.longitude }}'>{{ $.Site.Data.paramsite.location }}</a><br/>
                    <strong><i class="fas fa-phone"></i> téléphone</strong> : <a target="_blank" href='tel:{{ $.Site.Data.paramsite.phone }}'>{{ $.Site.Data.paramsite.phone }}</a><br>
                    <strong><i class="fas fa-envelope"></i> mail</strong> : <a target="_blank" href='mailto:{{ $.Site.Data.paramsite.mail }}'>{{ $.Site.Data.paramsite.mail }}</a><br> 
                </p>
            </div>
            <div class="column">
                    <p>
                        {{ if $.Site.Data.paramsite.facebook }}
                        <strong><a target="_blank" href='{{ $.Site.Data.paramsite.facebook }}'><i class="fab fa-facebook"></i> Facebook</strong></a><br/>
                        {{ end }}
                        
                        {{ if $.Site.Data.paramsite.twitter }}
                        <strong><a target="_blank" href='{{ $.Site.Data.paramsite.twitter }}'><i class="fab fa-twitter"></i> Twitter</strong></a><br/>
                        {{ end }}

                        {{ if $.Site.Data.paramsite.instagram }}
                        <strong><a target="_blank" href='{{ $.Site.Data.paramsite.instagram }}'><i class="fab fa-instagram"></i> Instagram</strong></a><br/>
                        {{ end }}

                        {{ if $.Site.Data.paramsite.linkedin }}
                        <strong><a target="_blank" href='{{ $.Site.Data.paramsite.linkedin }}'><i class="fab fa-linkedin"></i> LinkedIn</strong></a><br/>
                        {{ end }}

                        {{ if $.Site.Data.paramsite.youtube }}
                        <strong><a target="_blank" href='{{ $.Site.Data.paramsite.youtube }}'><i class="fab fa-youtube"></i> Youtube</strong></a><br/>
                        {{ end }}

                    </p>
                </div>
        </div>



        
        <p class='credits'>Réalisation <a href='https://www.linkedin.com/in/fabien-grignoux-3ab9a4167/'>Fabien Grignoux</a></p>
    </div>
</footer>


<script>
    (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        
        burger.addEventListener('click', function(){
            console.log("pouet");
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
        });
    })();
</script>

<script src='{{ "/js/yall.min.js" | absURL }}'></script>
<script>
    document.addEventListener("DOMContentLoaded", yall);
</script>

{{ if eq .Title "Contact" }}
<script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

<script>
    //Gestion de la map
    mapboxgl.accessToken = '{{ $.Site.Data.paramsite.mapboxkey }}';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [{{ $.Site.Data.paramsite.longitude }},{{ $.Site.Data.paramsite.latitude }}], // starting position [lng, lat]
    zoom: 14	 // starting zoom
    });

    map.scrollZoom.disable();

        new mapboxgl.Popup()
            .setLngLat({lng:{{ $.Site.Data.paramsite.longitude }},lat:{{ $.Site.Data.paramsite.latitude }}})
            .setHTML("<h2><span class='name-brand'>{{ $.Site.Data.paramsite.title }}</span></h2><p>{{ $.Site.Data.paramsite.subtitle }} <br>{{ $.Site.Data.paramsite.location }}<p>")
            .addTo(map);
</script>
{{ end }}