$couleur-princ:#911010;
$couleur-text:rgb(31, 31, 31);
$couleur-princ-hover:#727272;
$couleur-light:white;
$couleur-liens-hover:#025d8c;


$discret-sombre:#b3b3b3;

$couleur-header:#025d8c;

$couleur-menu:#8acbb2;
$couleur-text-menu:white;
$couleur-hover-menu:#025d8c;

$background-header:rgb(56, 56, 56);
$background-header-hover:rgb(65, 65, 65);
$footer-background-color:#1f1f1f;
$couleur-background-general:white;
$background-1:#dfdfdf;
$background-2:#fff;